{# reverse on egress: explicit-path names follow the tunnel destination ({{ source_label }}) for consistency #}
system-view
#
explicit-path {{ source_label }}-SP:01
{% for hop in reverse_primary_hops %}
next hop {{ hop.ip }}
{% endfor %}
#
{% if reverse_backup_hops %}
explicit-path {{ source_label }}-SP:02
{% for hop in reverse_backup_hops %}
next hop {{ hop.ip }}
{% endfor %}
#
{% endif %}
interface Tunnel0/0/{{ source_tunnel_id }}
 description TO: {{ source_label }}
 ip address unnumbered interface LoopBack0
 tunnel-protocol mpls te
 destination {{ source_ip }}
 mpls te record-route label
 mpls te backup hot-standby
 mpls te metric inherit-igp
 mpls te fast-reroute
 mpls te tunnel-id {{ source_tunnel_id }}
 mpls te path explicit-path {{ source_label }}-SP:01
{% if reverse_backup_hops %}
 mpls te path explicit-path {{ source_label }}-SP:02 secondary
{% endif %}
#
mpls ldp remote-peer {{ source_label }}
 remote-ip {{ source_ip }}
#
commit
#
return
save
