{# Huawei VRP — forward (ingress) RSVP-TE — explicit-path names use destination NE id #}
system-view
#
explicit-path {{ dest_label }}-SP:01
{% for hop in primary_hops %}
next hop {{ hop.ip }}
{% endfor %}
#
{% if backup_hops %}
explicit-path {{ dest_label }}-SP:02
{% for hop in backup_hops %}
next hop {{ hop.ip }}
{% endfor %}
#
{% endif %}
interface Tunnel0/0/{{ dest_tunnel_id }}
 description TO: {{ dest_label }}
 ip address unnumbered interface LoopBack0
 tunnel-protocol mpls te
 destination {{ dest_ip }}
 mpls te record-route label
 mpls te backup hot-standby
 mpls te metric inherit-igp
 mpls te fast-reroute
 mpls te tunnel-id {{ dest_tunnel_id }}
 mpls te path explicit-path {{ dest_label }}-SP:01
{% if backup_hops %}
 mpls te path explicit-path {{ dest_label }}-SP:02 secondary
{% endif %}
#
mpls ldp remote-peer {{ dest_label }}
 remote-ip {{ dest_ip }}
#
commit
#
return
save
