{# Nokia SR OS — forward (ingress) RSVP-TE — X=path prefix, Y/Z=LSP names #}
admin display-config | match {{ nokia_path_name_prefix }} context all
show router mpls path {{ nokia_path_name_prefix }}-SP:01 lsp-binding
{% if backup_hops %}
show router mpls path {{ nokia_path_name_prefix }}-SP:02 lsp-binding
{% endif %}
show router mpls lsp {{ nokia_lsp_name_y }}
{% if backup_hops %}
show router mpls lsp {{ nokia_lsp_name_z }}
{% endif %}

/configure router mpls path {{ nokia_path_name_prefix }}-SP:01
{% for hop in primary_hops %}
hop {{ loop.index }} {{ hop.ip }} strict
{% endfor %}
no shutdown
exit

{% if backup_hops %}
/configure router mpls path {{ nokia_path_name_prefix }}-SP:02
{% for hop in backup_hops %}
hop {{ loop.index }} {{ hop.ip }} strict
{% endfor %}
no shutdown
exit

{% endif %}
/configure router mpls lsp {{ nokia_lsp_name_y }}
to {{ dest_ip }}
path-computation-method local-cspf
fast-reroute facility
exit
egress-statistics
collect-stats
no shutdown
exit
primary {{ nokia_path_name_prefix }}-SP:01 no shutdown
{% if backup_hops %}
secondary {{ nokia_path_name_prefix }}-SP:02 no shutdown
secondary {{ nokia_path_name_prefix }}-SP:02 standby
{% endif %}
no shutdown
exit

{% if backup_hops %}
/configure router mpls lsp {{ nokia_lsp_name_z }}
to {{ dest_ip }}
cspf
fast-reroute facility
exit
egress-statistics
collect-stats
no shutdown
exit
primary {{ nokia_path_name_prefix }}-SP:02 no shutdown
secondary {{ nokia_path_name_prefix }}-SP:01 no shutdown
secondary {{ nokia_path_name_prefix }}-SP:01 standby
no shutdown
exit

{% endif %}
/configure service sdp {{ sdp_number }} mpls create
far-end {{ dest_ip }}
lsp {{ nokia_lsp_name_y }}
{% if backup_hops %}
lsp {{ nokia_lsp_name_z }}
{% endif %}
no shutdown
exit

{% if is_drrtr_pecrt %}
/configure service vprn 5000
spoke-sdp {{ sdp_number }}:5000 create
/admin save
{% endif %}
