{# Nokia SR OS — MD-CLI — forward (ingress) — X=path prefix, Y/Z=LSP names #}
admin display-config | match {{ nokia_path_name_prefix }} context all
show router mpls path {{ nokia_path_name_prefix }}-SP:01 lsp-binding
{% if backup_hops %}
show router mpls path {{ nokia_path_name_prefix }}-SP:02 lsp-binding
{% endif %}
show router mpls lsp {{ nokia_lsp_name_y }}
{% if backup_hops %}
show router mpls lsp {{ nokia_lsp_name_z }}
{% endif %}

/configure router mpls path {{ nokia_path_name_prefix }}-SP:01
{% for hop in primary_hops %}
    hop {{ loop.index }} {{ hop.ip }} strict
{% endfor %}
    admin-state enable
!
{% if backup_hops %}
/configure router mpls path {{ nokia_path_name_prefix }}-SP:02
{% for hop in backup_hops %}
    hop {{ loop.index }} {{ hop.ip }} strict
{% endfor %}
    admin-state enable
!

{% endif %}
/configure router mpls lsp {{ nokia_lsp_name_y }}
    to {{ dest_ip }}
    path-computation-method local-cspf
    fast-reroute facility
    egress-statistics
    collect-stats
    admin-state enable
    primary "{{ nokia_path_name_prefix }}-SP:01"
{% if backup_hops %}
    secondary "{{ nokia_path_name_prefix }}-SP:02"
{% endif %}
!
{% if backup_hops %}
/configure router mpls lsp {{ nokia_lsp_name_z }}
    to {{ dest_ip }}
    cspf
    fast-reroute facility
    egress-statistics
    collect-stats
    admin-state enable
    primary "{{ nokia_path_name_prefix }}-SP:02"
    secondary "{{ nokia_path_name_prefix }}-SP:01"
!
{% endif %}
/configure service sdp {{ sdp_number }} mpls
    far-end {{ dest_ip }}
    lsp "{{ nokia_lsp_name_y }}"
{% if backup_hops %}
    lsp "{{ nokia_lsp_name_z }}"
{% endif %}
    admin-state enable
!
{% if is_drrtr_pecrt %}
/configure service vprn 5000
    spoke-sdp {{ sdp_number }}:5000
    admin-state enable
!
{% endif %}
