{# Nokia SR OS — MD-CLI — reverse (egress) — same X / Y / Z as forward #}
/configure router mpls path {{ nokia_path_name_prefix }}-SP:01
{% for hop in reverse_primary_hops %}
    hop {{ loop.index }} {{ hop.ip }} strict
{% endfor %}
    admin-state enable
!
{% if reverse_backup_hops %}
/configure router mpls path {{ nokia_path_name_prefix }}-SP:02
{% for hop in reverse_backup_hops %}
    hop {{ loop.index }} {{ hop.ip }} strict
{% endfor %}
    admin-state enable
!

{% if use_sp03 %}
/configure router mpls path {{ nokia_path_name_prefix }}-SP:03
{% for hop in reverse_primary_hops %}
    hop {{ loop.index }} {{ hop.ip }} strict
{% endfor %}
    admin-state enable
!
{% endif %}
{% endif %}
/configure router mpls lsp {{ nokia_lsp_name_y }}
    to {{ source_ip }}
    path-computation-method local-cspf
    fast-reroute facility
    egress-statistics
    collect-stats
    admin-state enable
    primary "{{ nokia_path_name_prefix }}-SP:01"
{% if reverse_backup_hops %}
    secondary "{{ nokia_path_name_prefix }}-SP:02"
    secondary dynamic
{% endif %}
!
{% if reverse_backup_hops %}
/configure router mpls lsp {{ nokia_lsp_name_z }}
    to {{ source_ip }}
    cspf
    fast-reroute facility
    egress-statistics
    collect-stats
    admin-state enable
{% if use_sp03 %}
    primary "{{ nokia_path_name_prefix }}-SP:03"
{% else %}
    primary "{{ nokia_path_name_prefix }}-SP:02"
{% endif %}
{% if use_sp03 %}
    secondary "{{ nokia_path_name_prefix }}-SP:02"
{% else %}
    secondary "{{ nokia_path_name_prefix }}-SP:01"
{% endif %}
    secondary dynamic
!
{% endif %}
/configure service sdp {{ reverse_sdp_number }} mpls
    far-end {{ source_ip }}
    lsp "{{ nokia_lsp_name_y }}"
{% if reverse_backup_hops %}
    lsp "{{ nokia_lsp_name_z }}"
{% endif %}
    admin-state enable
!
{% if is_drrtr_pecrt_reverse %}
/configure service vprn 5000
    spoke-sdp {{ reverse_sdp_number }}:5000
    admin-state enable
!
{% endif %}

NOTE: Check the status of the new path. Expected status should be UP.
admin display-config | match {{ nokia_path_name_prefix }} context all
show router mpls path {{ nokia_path_name_prefix }}-SP:01 lsp-binding
{% if reverse_backup_hops %}
show router mpls path {{ nokia_path_name_prefix }}-SP:02 lsp-binding
{% endif %}
show router mpls lsp {{ nokia_lsp_name_y }}
{% if reverse_backup_hops %}
show router mpls lsp {{ nokia_lsp_name_z }}
{% endif %}
